.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.light {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #808191;
  }
.tr {
  background-color: #242731;
  color: #808191;
  padding: 2px;
  font-size: 30px;
  text-align: center;
  height: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Lborder {
  border-radius: 8px 0 0 8px;
}
.Rborder {
  border-radius: 0 8px 8px 0;
}
.td {
  text-align: center;
  background-color: #191b20;
  color: #fff;
  padding: 8%;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
}
