#dashboard {
  display: flex;
  margin: 3px;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding-top: 1%;
}
.menu {
  border-right: 2px solid#242731;
  padding: 2%;
  position: fixed;
  left: 0;
}
.section {
  /* overflow-y: scroll; */
  width: 60%;
  margin: 3px;
  padding: 2%;
  margin-left: 270px;
  margin-right: 380px;
}
.link {
  border-left: 2px solid#242731;
  height: 100vh;
  padding: 2%;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: space-around;
}
.hr {
  border: 2px solid #242731;
}
